{% extends "base.html" %}
{% block content %}

<li><a href="{{base_path}}/users/{{user.user_id}}">Palaa takaisin</a></li>
  <h1>Lähetä uusi viesti käyttäjälle {{user.username}}!</h1>

  <form method="post" action="{{base_path}}/users/{{user.username}}/message">
    <div class="form-group">
      <label>Aihe</label>
      <input name="subject" class="form-control" type="text">
    </div>

    <div class="form-group">
      <label>Viesti</label>
      <input name="message" class="form-control" type="text">
    </div>
      <input type="hidden" name="user_id" value="{{user.user_id}}" />
      <button type="submit" class="btn btn-primary">Lähetä</button>
  </form>
{% endblock %}
