{% extends "base.html" %}
{% block content %}

<li><a href="{{base_path}}/users/{{user.user_id}}">Palaa takaisin</a></li>
  <h1>Lähetä uusi viesti käyttäjälle {{user.username}}!</h1>

  <form method="post" action="">
    <div class="form-group">
      <label>Aihe</label>
      <input name="aihe" class="form-control" type="text">
    </div>

    <div class="form-group">
      <label>Viesti</label>
      <input name="sisalto" class="form-control" type="text">
    </div>
      <button type="submit" class="btn btn-primary">Lähetä</button>
  </form>
{% endblock %}
