{% extends "base.html" %}
{% block content %}
  <h1>Muokkaa omia tietojasi</h1>

  <form>
    <div class="form-group">
      <label>Nimi</label>
      <input class="form-control" value="Sirpa-Liisa" type="text">
    </div>
    <div class="form-group">
      <label>Ikä</label>
      <input class="form-control" value="20" type="text">
    </div>
    <div class="form-group">
      <label>Opiskeluala</label>
      <input class="form-control" value="Sukupuolentutkimus" type="text">
    </div>
    <div class="form-group">
      <label>Kuvaus itsestäsi</label>
      <textarea class="form-control"> Olen Sirpa-Liisa      
      </textarea>
    </div>
      <div class="checkbox">
      <label>
        <input type="checkbox">
        Olutseuraa
      </label>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
  </form>
{% endblock %}
