{% extends "base.html" %}
{% block content %}
  <h1>Etsi kavereita!</h1>

  <p>
          <strong>Etsin:</strong> 
      <div class="checkbox">
      <label>
        <input type="checkbox">
        Olutseuraa
      </label>
          <div class="checkbox">
      <label>
        <input type="checkbox">
        Peliseuraa
      </label>     
    </div>
          <div class="checkbox">
      <label>
        <input type="checkbox">
        Opiskeluseuraa
      </label>
          </div> 
    <a href="#" class="btn btn-success">Hae valituilla ehdoilla</a>
  </p>

       <tbody>
      {% for user in users %}
        <tr>
          <td><a href="{{base_path}}/user/{{user.id}}">{{user.username}}</td>
          <td>{{user.bio}}</td>
  
             
          </tr>
      {% endfor %}
    </tbody>
  </table>
  </table>
{% endblock %}