{% extends "base.html" %}
{% block content %}
  <h1>Rekisteröidy käyttäjäksi</h1>
  
  {% if errors %}
    <div class="alert alert-danger">
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <form method="post" action="{{base_path}}/users">
    <div class="form-group">
      <label>Käyttäjätunnus</label>
      <input name="username" class="form-control" type="text">
    </div>

    <div class="form-group">
      <label>Salasana</label>
      <input name="password" class="form-control" type="text">
    </div>

    <div class="form-group">
      <label>Bio</label>
      <input name="bio" class="form-control" type="text">
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Rekisteröidy</button>
    </div>
  </form>
{% endblock %}

