{% extends "base.html" %}
{% block content %}

  <h1>{{user.username}}</h1>
  <p>
   <a href="{{base_path}}/users/{{user.user_id}}/message" class="btn btn-default">Lähetä viesti</a>
  </p>
  <p>
   <form method="post" action="{{base_path}}/users/{{user.userid}}"> 
    <button type="submit" class="btn btn-primary">Lisää kaveriksi</button>
  </p>
</form>
  <p>{{user.bio}}</p>
  
  <p><strong>Käyttäjän {{user.username}} kaverit</strong></p>
   {% for user in friends %}
        <tr>
          <td><a href="{{base_path}}/users/{{user.user_id}}">{{user.username}}</td>
  
             
        </tr>
      {% endfor %}
 
 
  </p>
{% endblock %}
