{% extends "base.html" %}
{% block content %}
 {% if user_logged_in %}
  <h1>{{user.username}}</h1>
  <p>
   <a href="{{base_path}}/users/{{user.user_id}}/message" class="btn btn-default">Lähetä viesti</a>
  </p>
  <p>
   <form method="post" action="{{base_path}}/users/{{user.userid}}"> 
   <input type="hidden" name="user_id" value="{{user.user_id}}" />
    <button type="submit" class="btn btn-primary">Lisää kaveriksi</button>
  </p>
</form>
  <p>{{user.bio}}</p>
  
  <p><strong>Käyttäjän {{user.username}} kaverit</strong></p>
   {% for friend in friends %}
        <tr>
          <td>{{friend.username}}</td>
  
             
        </tr>
      {% endfor %}
  {% else %}
  <p>Tämä alue on vain rekisteröityneille käyttäjille!</p>
 {% endif %}
  </p>
  
{% endblock %}
