{% extends "base.html" %}
{% block content %}
  <h1>Etsi ystäviä!</h1>
  <p>Etkö ole vielä jäsen? Vain jäsenenä voit lähettää viestejä uusille ystävillesi!</p>
    <p>
    <a href="{{base_path}}/users/new" class="btn btn-success">Rekisteröidy tästä!</a>
  </p>
  
  <p><strong>Ystäviä etsivät myös</strong></p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Käyttäjätunnus</th>
        <th>Bio</th>
        
      </tr>
    </thead>

       <tbody>
      {% for user in users %}
        <tr>
          <td><a href="{{base_path}}/users/{{user.user_id}}">{{user.username}}</td>
          <td>{{user.bio}}</td>
  
             
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}